<!-- app/views/admin/dashboard/index.html.erb -->

<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Edit About Page', edit_about_path %></li>
  <li><%= link_to 'Manage Products', admin_products_path %></li>
  <!-- Add other admin links as needed -->
</ul>
