<h1>Admin::Products#new</h1>
<p>Find me in app/views/admin/products/new.html.erb</p>
<!-- app/views/admin/products/new.html.erb -->

<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back to Products', admin_products_path, class: 'btn btn-secondary' %>
